.buttoncart {
    padding: 14px 8px;
    font-size: 48px;
    text-align: center;
    font-style: normal;
    font-family: "Our News";
    color: #e3e3e3;
    background-color: #a27b5c;
    border: 10px;
}