.buttoncart {
    padding: 48px 158px;
    padding-top: 4px;
    padding-right: 5px;
    padding-bottom: 4px;
    padding-left: 5px;
    font-family: sans-serif/DM Sans;    
    font: medium;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #A27B5C;
    border: 16px;

}
